@use '../abstracts/' as *;

.gallery-modal {
  background: $color-base-100;

  section {
    background: $color-base-100;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .close {
    right: 1rem;

    &::after,
    &::before {
      background-color: $color-primary-400;
    }
  }

  &__control {
    background: 0;
    border: 0;
    color: $color-primary-400;
    cursor: pointer;
    padding: 0;

    img {
      min-width: 1rem;
    }

    &:nth-of-type(2) {
      order: 1;

      img {
        transform: rotate(180deg);
      }
    }
  }

  .medias {
    margin: 0 1rem;
    position: relative;

    .media {
      visibility: hidden;
      height: 0;
      width: 0;
      opacity: 0;
      transition: opacity 150ms, visibility 150ms;

      &.visible {
        visibility: visible;
        height: auto;
        width: auto;
        opacity: 1;
      }
    }

    img,
    video {
      object-fit: contain;
      max-height: 800px;
    }
  }

  @include mq($medium) {
    &__control img {
      width: 2rem;
    }

    .medias {
      margin: 0 2rem;
    }
    .close {
      top: 2.25rem;

      &::after,
      &::before {
        width: 3rem;
        height: 5px;
      }

      &::after {
        margin-top: -5px;
      }
    }

    p {
      font-size: 1.5rem;
    }
  }
}
