@use '../abstracts/' as *;

.figure {
  flex: 1 350px;
  height: 13.75rem;

  a {
    height: calc(100% - 2rem);
    width: 100%;
    display: block;

    picture,
    img {
      height: 100%;
      width: 100%;
      display: block;
    }

    img {
      object-fit: cover;
      border-radius: 0.25rem;
    }
  }

  figcaption {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 0;
    font-weight: 500;

    div {
      display: flex;
    }

    span {
      margin-right: 0.5rem;
    }
  }

  @include mq($medium) {
    height: 350px;
  }
}
