@use '../abstracts/' as *;

.tag {
  color: map-get($colours, primary-400);
  font-weight: 500;
  text-decoration: none;
  border: 1px solid map-get($colours, base-400);
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;

  &:hover,
  &:focus {
    background-color: map-get($colours, primary-400);
    color: map-get($colours, base-100);
  }
}
