@use '../abstracts' as *;

body {
  font-family: $font;
  padding: 2rem 1.25rem;
  color: $color-primary-400;

  @include mq(768px) {
    padding-top: 3.25rem;
  }
}

h1 {
  font-size: 0.875rem;
  font-weight: 400;
}
