@use '../abstracts' as *;

body {
  font-family: $font;
  padding: 2rem 0;
  color: $color-primary-400;
  max-width: 1440px;
  margin: 0 auto;

  @include mq($tab) {
    padding-top: 3.25rem;
  }
}

h1 {
  font-size: 0.875rem;
  font-weight: 400;
}

main {
  padding: 0 1.25rem;
}

.home {
  @include mq($desktop) {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    justify-content: space-between;
  }
}
