@keyframes nextSlide {
  0% {
    transform: translateX(100%);
  }
}

@keyframes slideOutLeft {
  100% {
    transform: translateX(-100%);
  }
}

@keyframes prevSlide {
  0% {
    transform: translateX(-100%);
  }
}

@keyframes slideOutRight {
  100% {
    transform: translateX(100%);
  }
}
